/* =============================================================================
   Baseline Grid - 18px Base Font with 1.412 scaling factor
   ========================================================================== */

body {
  font-size: 18px;
  line-height: 1.7; /* 31px */
}

h1 {
  font-size: 4.5rem;
  margin-top: 1.938rem;
  margin-bottom: 3.875rem;
}

h2 {
  font-size: 2.25rem;
  margin-top: 3.875rem;
  margin-bottom: 1.938rem;
}

h3 {
  font-size: 1.5625rem;
  margin-top: 1.938rem;
  margin-bottom: 0;
}

p, ul {
  margin-top: 0;
  margin-bottom: 1.938rem;
}

small {
  font-size: 0.8125rem;
}

